<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.shri.dao.ApplicationMapper">
    <sql id="selectFields">
        id, user_id, user_name, user_email, programme_id, programme_name, signature, management_signature, programme_charge_signature, status, apply_date
    </sql>

    <insert id="insertApplication" parameterType="UserApplication" keyProperty="id">
        insert into user_application (user_id, user_name, user_email, programme_id, programme_name, signature, management_signature, programme_charge_signature, status, apply_date)
        values (#{userId}, #{userName}, #{userEmail}, #{programmeId}, #{programmeName}, #{signature}, #{managementSignature}, #{programmeInChargeSignature}, #{status}, #{applyDate})
    </insert>

    <select id="hasApplied" resultType="int">
        select count(*) from user_application
        where user_id = #{userId} and programme_id = #{programmeId}
    </select>

    <select id="selectApplications" resultType="UserApplication">
        select <include refid="selectFields"></include>
        from user_application
        where status = #{status}
        limit #{offset}, #{limit}
    </select>

    <select id="selectApplicationsByUserId" resultType="UserApplication">
        select <include refid="selectFields"></include>
        from user_application
        where user_id = #{userId}
    </select>

    <select id="selectApplicationById" resultType="UserApplication">
        select <include refid="selectFields"></include>
        from user_application
        where id = #{id}
    </select>

    <update id="updateStatus">
        update user_application set status = #{status}
        where id = #{appId}
    </update>
    
    <update id="updateSignature" parameterType="byte[]">
        update user_application set signature = #{signature}
        where id = #{appId}
    </update>
</mapper>